/*
  General
 */
fieldset > * + * + *,
form > * + * {
  margin-top: var(--s0);
}
.field,
.checkboxGroup,
.checkbox {
  max-width: 22em;
}

/*
  Field
 */
.field label {
  margin-bottom: var(--s-4);
  display: block;
  line-height: 1.25;
}
.field-label {
  font-weight: 600;
  display: block;
}
.field-hint {
  font-weight: 400;
  display: block;
  margin-bottom: var(--s-4);
  color: var(--color-darkish);
  font-size: 0.9em;
}
.field input,
.field textarea {
  border-width: var(--border-thin);
  margin: 0;
  border-radius: var(--border-thin);
  padding: 0.25em;
  width: 100%;
}
.field input[type='checkbox'] {
  width: initial;
}
.field textarea {
  resize: vertical;
  min-height: 5em;
}

/*
  Fieldset
 */
fieldset {
  border-style: dashed;
  border-width: var(--border-thin);
  padding: var(--s-1);
  padding-top: 0;
}
fieldset legend {
  font-size: var(--s1);
  font-weight: 600;
}
.fieldset-hint {
  font-weight: 400;
  display: block;
  font-size: 0.9em;
}

/*
  Checkbox group
 */
.checkboxGroup {
}
.checkboxGroup-label {
  font-weight: 600;
  display: block;
}

/*
  Checkbox
 */
.checkbox {
  padding: 0.25em 0.5em;
  border-width: var(--border-thin);
  border-radius: var(--border-thin);
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: var(--s-2);
}
.checkbox:not(:hover) {
  border-color: transparent;
}
.checkbox input {
  font-size: 1rem;
  margin: 0;
  flex: 0;
}

/*
  Messages
 */
.formErrorMessage {
  border-radius: var(--border-thick);
  border: var(--border-thick) solid #ce4760;
  background: rgba(255, 0, 0, 0.1);
  padding: 0.5rem;
}
.formSuccessMessage {
  border-radius: var(--border-thick);
  border: var(--border-thick) solid var(--color-kellyGreen);
  background: rgba(0, 255, 0, 0.1);
  padding: 0.5rem;
}
